* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.top {
	width: 100%;
	top: 0;
	position: fixed;
}
.top-left,
.top-right {
	height: 200px;
	width: 50%;
	display: inline-block;
}

.top-left {
	float: left;
	background: #cccccc;
}

.top-right {
	float: right;
	background: #aaaaaa;
}

.text {
	margin-top: 200px;
	position: fixed;
}

.text-left,
.text-right {
	display: inline-block;
	height: calc(100vh - 200px);
	overflow-x: hidden;
	overflow-y: auto;
}

.text-left {
	width: 300px;
	float: left;
	background: #999999;
}

.text-right {
	width: calc(100vw - 300px);
	background: #666666;
}